.sec1-container{
    display: flex;
    background-color: #F6F8FF;
    width: 100%;
    height: 900px;
    justify-content: center;
    align-items: center;
}

.sec1-box{
    display: grid;
    width: 90%;
    height: 750px;
    background-color: white;
    border: #E0E4F2;
    border: 10px solid #E0E4F2;
    border-radius: 20px; 
    align-items: center;
    box-shadow: rgb(109, 109, 109) 0px 0px 10px;
}

.sec1-logo-box{
    display: grid;
    width: 400px;
    height: 500px;
    position: absolute;
    right: 17%;
   
}

.sec1-carousel{
    position: absolute;
    left: 17%;
    width: 600px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.sec1-main-logo{
    justify-self: center;
}

.sec1-logo-text{
    text-align: center;
    font: 2.5rem "Inter";
    
}

.sec2-container{
    display: flex;
    background-color: white;
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
}

.sec2-box{
   
}

.sec3-container{
    display: flex;
    background-color: #F6F8FF;
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
}

.sec3-box{
   
}

.sec4-container{
    display: flex;
    background-color: white;
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
}

.sec4-box{
   
}