.login-container{
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .login-box{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 700px;
    background-color: white;
    border: 4px solid #E0E4F2;
    border-radius: 20px; 
    justify-content: center;
    align-items: center;
 }

 .login-fields{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 85%;
}

 .login-divider{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .required-label{
   &::after{
      padding: 0 5px;
      content:"*";
      color: red;
   }
 }

 .login-button-links{
    display: flex;
    width: 100%;
    justify-content: space-around;
 }
.login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.spacer{
    width: 20%;
}
 .links{
    width: 20%;
 }
