.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

.profile-setup {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    height: auto;
    width: 700px;
    display: flex;
    flex-direction: column;
    border: 4px solid #E0E4F2;
    margin: auto;
}

.input-field {
    width: 100%;
    margin-bottom: 20px;
}

.avatar-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
}
