.page-container{
    padding: 1rem;
}

.header-search-container{
    display: flex;
}

.card-filter-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: 70% 28%;
    width: 100%;
}


.header-text{
    display: flex;
    flex-direction: column;
}

