.sec2-container{
    display: flex;
    background-color: white;
    height: 700px;
    justify-content: space-between;
    align-items: center;
}

.sec2-text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8%;
}

.sec3-container{
    display: flex;
    height: 700px;
    justify-content: space-between;
    align-items: center;
}

.sec3-text-box{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    align-items: center;

}


.sec4-container{
    display: flex;
    background-color: white;
    height: 700px;
    justify-content: space-between;
    align-items: center;
}

.sec4-text-box{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    align-items: center;
}
