.sec2-container{
    display: flex;
    background-color: white;
    height: 700px;
    justify-content: space-between;
    align-items: center;
}

.sec2-text-box{
    width: 600px;
    margin-left: 10%;
    text-align: center;
}

.sec2-image{
    width: 600px;
    margin-right: 10%;
}

.sec3-container{
    display: flex;
    height: 700px;
    justify-content: space-between;
    align-items: center;
}

.sec3-text-box{
    width: 600px;
    margin-right: 10%;
    text-align: center;
}

.sec3-image{
    display: flex;
    justify-content: center;
    width: 600px;
    margin-left: 10%;
    margin-bottom: 5%;
}

.sec4-container{
    display: flex;
    background-color: white;
    height: 700px;
    justify-content: space-between;
    align-items: center;
}

.sec4-text-box{
    width: 600px;
    margin-left: 10%;
    text-align: center;
}

.sec4-image{
    display: flex;
    justify-content: center;
    width: 600px;
    margin-right: 10%;
    margin-bottom: 3%;
}