.sec2-container{
    display: flex;
    background-color: white;
    height: 700px;
    justify-content: space-between;
    align-items: center;
}

.sec2-text-box{
    width: 600px;
    margin-left: 10%;
    text-align: center;
}

.sec2-image{
    width: 600px;
    margin-right: 10%;
}
