.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f6f8ff;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 16px 0; /* Equivalent to marginY: 2 */
}

.signup-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  width: 700px;
}